/* font style */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@600&family=Work+Sans&display=swap');

/* common utilities */
* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


/* header styles */
.header {
    padding: 50px 130px;
    height: 1000px;
    background-color: rgba(255, 144, 14, 0.1);
    margin-bottom: 85px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 80px;
    align-items: center;
}

nav li {
    list-style: none;
}

/* group-section */
.group-section {}

.group-title {
    margin-top: 100px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    text-align: center;
}

.group-description {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #727272;
    margin-bottom: 32px;

}

.btn {
    text-align: center;
    margin-bottom: 50px;

}

.button {
    width: 180px;
    height: 64px;
    color: #FFFFFF;
    border: 0;
    font-weight: 600;
    font-size: 20px;
    background-color: #FF900E;
    border-radius: 5px;
}

.banner {
    text-align: center;
}

.img-banner {
    width: 1000px;
    height: 500px;
    border-radius: 8px;
}

/* main section */

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* feature section */
.feature-section {
    display: flex;
    gap: 75px;
    justify-content: center;
    margin-bottom: 130px;
}

.feature-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px;
}

.feature-image {
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

.feature-title {
    margin-top: 90px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 45px;
}

.text-primary {
    color: #727272;
}

.text-secondary {
    color: #FF900E;
}

.feature-description {
    font-weight: 400;
    font-size: 16px;
    /* text-align: center; */
    color: #727272;
    margin-top: 15px;
    margin-bottom: 30px;
}

/* feature examples */
.feature-examples {
    display: flex;
    gap: 60px;
    justify-content: center;
}

.feature-headline {
    display: flex;
    gap: 21px;
    margin-bottom: 24px;
}

.rectangle {
    width: 5px;
    height: 106px;
    background-color: #FF900E;
}

.feature-example-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.box-paragraph {
    background-color: #FFFFFF;
    width: 507px;
    height: 70px;
    font-weight: 400;
    font-size: 16px;
    padding: 30px 32px;
    margin-bottom: 20px;
    color: #727272;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
}

.right-feature {
    width: 800px;
    height: 950px;
}

.architect-img {
    width: 545px;
    height: 700px;
    border-radius: 8px;
}

.btn-secondary {
    position: relative;
    bottom: 90px;
    right: 30px;
    width: 250px;
    height: 150px;
    background-color: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
    border: 0;
    /* margin-top: -66px; */
}

.btn-text-style {
    font-weight: 700;
    font-size: 40px;
}

/* some facts section styles */
.container {
    margin-top: 80px;
    display: flex;
    gap: 90px;
    justify-content: center;
    margin-bottom: 120px;
}

.box {
    text-align: center;
    height: 150px;
    width: 150px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    margin-top: auto;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    transition: width 2s linear, height 2s linear, transform 2s;
}

.box:hover {
    width: 200px;
    height: 200px;
    transform: rotate(360deg);
}

.number {
    font-weight: 600;
    font-size: 35px;
    color: #424242;
}

/* sponsor section styles */
.sponsor-container {
    text-align: center;
    color: #131313;
}

.sponsor-company {
    margin-top: 50px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;

}

/* contact-section */
.contact-container {
    text-align: center;
    margin-bottom: 100px;
}

.form {
    margin-top: 30px;
}

input {
    height: 55px;
    width: 445px;
    border: 3px solid #FF900E;
    border-radius: 8px;
    margin-bottom: 8px;
    padding-left: 10px;
}

textarea {

    border: 3px solid #FF900E;
    border-radius: 8px;
    margin-bottom: 8px;
    padding-left: 10px;
    padding-top: 10px;
}

/* footer styles */
footer {
    background-color: #FFF4E7;
    width: 1299px;
    height: 100px;
    text-align: center;
    color: #424242;
    padding-top: 65px;
}

@media screen and (max-width: 576px) {
    html, body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .header {
        background: none;
        height: 745px;
        margin-left: -90px;

    }

    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    nav ul {
        flex-direction: column;
        gap: 6px;
        align-items: flex-start;
        padding-left: 20px;
    }

    nav li {
        list-style: none;
        margin-left: 0;
    }

    .group-section {
        /* text-align: center; */
    }

    .group-title {
        margin-top: 47px;
        margin-bottom: 15px;
        font-weight: 700;
        font-size: 25px;
        color: #131313;
        text-align: left;
        width: 134px;
    }

    .group-description {
        font-weight: 400;
        font-size: 16px;
        text-align: left;
        color: #727272;
        margin-bottom: 32px;
        width: 330px;
    }

    .feature-title {
        margin-top: 0px;
    }

    .feature-headline {
        margin-top: -85px;
    }

    .box-paragraph {
        width: 300px;
        height: 100px;
    }

    .right-feature {
        margin-bottom: 0px;
    }
.rectangle{
    width: 5px;
    height: 160px;
    background-color: #FF900E;
}
    .architect-img {
        height: 500px;
        border-radius: 8px;
        width: 360px;
        margin-left: -10px;
    }

    .btn-secondary {
        bottom: -100px;
        right: 320px;
    }

    .feature-section,
    .feature-examples,
    .container,
    .sponsor-company {
        flex-direction: column;
        padding: 10px 20px;
    }

    .img-banner {
        height: 200px;
    width: 300px;
        margin-bottom: 40px;
    }

    .feature-images {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 24px;
        justify-items: center;
    }

    .button {
        color: #FFFFFF;
        border: 0;
        font-weight: 600;
        font-size: 20px;
        background-color: #FF900E;
        border-radius: 5px;
        margin-left: 50px;
    }

    .fact {
        margin-top: -210px;
        margin-left: 30px;
    }
    .feature-description {
        margin-bottom: 10px;
        align-items: center;
        gap: 20px;
    }

    .container {
        align-items: center;
        gap: 20px;
    }
    input{
        width: 300px;
    }
    textarea{
        width: 300px;
    }

    footer{
        width: 100%;
    }

}